@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');/* Global Font */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');/* Material Icon Font */
/*
 * Global styles
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #f9f6f2;
}

* {
  font-family: "Nunito", sans-serif;
}

.app-layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f6f2;
  margin-left: 220px;
}

.content {
  padding: 20px;
}
/* End of Global styles */
/* Button styles */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  align-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn span {
  font-size: 20px;
  margin-right: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #3754a5;
  border-color: #3754a5;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1f3572;
  border-color: #3754a5;
}

.btn-success {
  color: #fff;
  background-color: #1ab394;
  border-color: #1ab394;
}

.btn-success:hover {
  color: #fff;
  background-color: #0c6855;
  border-color: #1ab394;
}

.btn-danger {
  color: #fff;
  background-color: #eb3349;
  border-color: #eb3349;
}

.btn-danger:hover {
  color: #fff;
  background-color: #971b27;
  border-color: #eb3349;
}

.btn-warning {
  color: #212529;
  background-color: #f3c363;
  border-color: #f3c363;
}

.btn-warning:hover {
  color: #212529;
  background-color: #b98c33;
  border-color: #f3c363;
}
/* Button styles end */