.sidebar {
  width: 220px;
  background-color: #fff;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #eb3349, #f45c43);
  margin-top: 0px;
  margin-bottom: 0px;
  height: 61px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sidebar > ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  padding-left: 20px;
}
.sidebar > ul > li
{
  color: #666;
  font-size: 13px;
  font-weight: 600;
}
.sidebar > ul > li > ul li{
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #666;
  display: inline-block;
  align-items: center;
  width: 100%;
  font-size: 13px;
  padding-left: 20px;
}
.sidebar > ul > li > ul
{
  padding-left: 10px;
}
.sidebar > ul > li > ul li span
{
  width: 100%;
  display: inline-block;
  display: none;
}
.sidebar ul li img
{
  width: 20px;
  margin-right: 10px;
}
.sidebar > ul li ul li:hover {
  background-color: #f45b432a;
}