/* Sidebar styles */
.sidebar {
  width: 220px;
  background-color: #fff;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #eb3349, #f45c43);
  margin-top: 0px;
  margin-bottom: 0px;
  height: 61px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sidebar>ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  padding-left: 20px;
  overflow-y: auto;
}

.sidebar>ul>li {
  color: #666;
  font-size: 13px;
  font-weight: 600;
  position: relative;
}

.sidebar>ul>li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 36px);
  border-left: 2px dotted #999;
  left: 8px;
  top: 20px;
  opacity: 0.5;
  transition: all 0.5s;
}

.sidebar>ul>li>ul li {
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;
  color: #666;
  display: inline-flex;
  align-items: center;
  width: 100%;
  line-height: 30px;
  font-size: 13px;
  padding-left: 10px;
  border-left: transparent 3px solid;
  position: relative;
}

.sidebar>ul>li>ul li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 1px;
  border-top: 2px dotted #999;
  left: -5px;
  top: 20px;
  opacity: 0.5;
  transition: all 0.5s;
  z-index: 99;
}

.sidebar>ul>li>ul {
  padding-left: 10px;
  margin-top: 10px;
}

.sidebar>ul>li>ul li span {
  width: 100%;
  display: inline-block;
  display: none;
}

.sidebar ul li img {
  width: 20px;
  margin-right: 10px;
}

.sidebar>ul li ul li:hover {
  background-color: #f45b432a;
  border-left: #eb3349 3px solid;
}